<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--配置的Excel文件路径-->
    <add key="filePath" value="D:\GitHub\CSharpHub\VSWork\plxnhApi\DataImport\template.xlsx"/>
    <!--导入数据的Excel的Sheet名称-->
    <add key="sheetName" value="Sheet1"/>
    <!--Oracle数据库连接字符串-->
    <add key ="oracleConnection" value="User ID=acs;Password=acs;Data Source=(DESCRIPTION =(ADDRESS = (PROTOCOL = TCP)(HOST = SIT-Oracle-02.quark.com)(PORT = 1521))(CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = CORESIT.quark.com)))"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
