<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--服务引用信息，由项目自动生成-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Data_Update_MSoap" />
              
                <binding name="Data_Update_IHttpBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:38894/Data_Update_M.asmx"
                binding="basicHttpBinding" bindingConfiguration="Data_Update_MSoap"
                contract="ServiceReference1.Data_Update_MSoap" name="Data_Update_MSoap" />
          
            <endpoint address="http://10.85.32.253:7001/sjpt_his_village/Data_Update_M.ws"
                binding="basicHttpBinding" bindingConfiguration="Data_Update_IHttpBinding"
                contract="XHE.Data_Update_IPortType" name="Data_Update_IHttpPort" />
        </client>
    </system.serviceModel>
  
  <appSettings>
    <!--配置文件路径-->
    <add key="configPath" value="D:\\paramParse.json"/>
    <!--接口环境配置，值为prd表示生产环境接口，其他值为默认模拟接口-->
    <add key="env" value="test"/>
  </appSettings>
</configuration>